.courses {
  width: 100%;
  min-height: 80vh;
  margin-left: 18px;
}

.courses_container {
  display: grid;
  place-content: center;
  grid-template-columns: 1fr 1fr 1fr;
  align-self: start;
  gap: 18px;
}

@media only screen and (max-width: 800px) {
  .courses_container {
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (max-width: 680px) {
  .courses {
    margin-left: 0px;
    margin-top: 18px;
  }
  .courses_container {
    grid-template-columns: 1fr;
  }
}

