.courses {
  display: grid;
  place-content: center;
  grid-template-columns: 1fr 1fr 1fr;
  width: 100%;
  gap: 18px;
  margin-left: 18px;
  align-self: start;
}

@media only screen and (max-width: 800px) {
  .courses {
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (max-width: 600px) {
  .courses {
    grid-template-columns: 1fr;
  }
}

@media only screen and (max-width: 500px) {
  .courses {
    margin-left: 0px;
    margin-top: 18px;
  }
}
