.sidebar {
  width: 264px;
  border: 1px solid var(--gray);
  border-radius: 18px;
  padding: 12px;
  background-color: white;
}

.content {
  display: grid;
  place-content: center;

  li {
    list-style: none;
    padding: 12px;
    width: 240px;
    height: 42px;
    font-size: 18px;
    font-weight: 800;
    line-height: 18px;
    color: var(--black);
    letter-spacing: -1px;
    cursor: pointer;
  }
  .active {
    background-color: var(--green);
    color: white;
    border-radius: 12px;
  }
}

@media only screen and (max-width: 680px) {
  .sidebar {
    width: 100%;
  }

  .content {
    place-content: start;
    grid-template-columns: 1fr;
    li {
      width: 100%;
    }
  }
}
